@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
.header {
  background: linear-gradient(rgba(0, 18, 81, 0.7), rgba(0, 0, 0, 0.7)),
    url(./images/bg.jpg);
  min-height: 70vh;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  align-items: center;
}
.menu {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 22px;
  color: #ffff;
}
.menu label img {
  width: 25px;
}
.navbar ul {
  display: flex;
  padding: 20px;
  gap: 30px;
}
.navbar ul li a {
  color: #ffff;
  font-size: 18px;
}
.header_content {
  text-align: center;
  margin-top: 30px;
}
.header_content h1 {
  color: #ffff;
  text-transform: uppercase;
  font-size: 50px;
  line-height: 80px;
  margin-bottom: 20px;
}
.header_content p {
  color: grey;
  font-size: 19px;
  margin-bottom: 50px;
  padding: 0 225px;
}
.header_content a {
  display: inline-block;
  background-color: orange;
  color: #fff;
  padding: 10px;
}

#check {
  display: none;
}

.menu label {
  display: none;
}

@media (max-width: 800px) {
  .menu {
    padding: 30px;
  }
  .menu label {
    display: initial;
  }
  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
  }
  .navbar ul {
    flex-direction: column;
    text-align: center;
  }

  #check:checked ~ .navbar {
    display: initial;
  }
  .header{
    min-height: 0vh;
  }
  .header_content {
    padding: 100px 30px;
  }
   .header_content p{
    padding: 10px;

   }
}
